/**
* Your CSS here
**/

body {
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-family: 'Merriweather', serif;
    font-size: 35px;
}
ul.plain {
    list-style: none;
    padding-left: 0;
}

.dark{

    color: white
}
.dark{
    
    background-image: 
        linear-gradient(90deg,black,transparent),
        url('../images/burj_khlifa.jpg');
    background-size: cover;
}
.blue{
    
    background-image: 
        linear-gradient(45deg,black,transparent),
        url('../images/jumeirah-beach.jpg');
    background-size: cover;
}
.blue{
    color: white
}
.heat{
    color:black
}
.quote{
    display:grid;
    grid-template-columns: 1fr  3fr;
    grid-gap: 20px;

}
.bold{
    font-family: 'Oswald', sans-serif;
}
.boldfont{
    font-family: 'Rubik Mono One', sans-serif;
}
.info{
    
    background-image: 
        linear-gradient(90deg,white,transparent),
        url('../images/burj_khalifa.jpg');
    background-size: cover;
}
.info{
   
    color: black
}
.light{ 
    color: black

}
.IMG{
    background-image: 
        url('../images/img_dubai.jpg');
    background-size: cover;
    height : 260px;
}
.IMG{
    color:white
}
.MOTIONG{
    color:white
}
.lego{
    color:white
}
.water{
    color:white
}
.MOTIONG{
    background-image: 
        url('../images/motiongate-dubai.jpg');
    background-size: cover;
    height : 260px;
}
.lego{
    background-image: 
        url('../images/legoland_dubai.jpg');
    background-size: cover;
    height : 260px;

}
.water{
    background-image: 
        url('../images/legoland-water-park.jpg');
    background-size: cover;
    height : 260px;
}
.rushpictures{
    display: flex;
}

.rushpictures img{
    flex-shrink: 0;
    margin-right: 10px;
    height: 231px;

}

.pictures{
    overflow: scroll;
    width: 100%;
}



